<?php
/**
 * Copyright © 2017 Codazon, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Customer login form template
 *
 * @see \Magento\Customer\Block\Form\Login
 * @var $block \Magento\Customer\Block\Form\Login
 */
?>
<!-- login popup style 01 -->
<div class="<?php echo $this->getData('css_class'); ?> login-dialog md-dialog" data-cdzpopup id="<?php echo $this->getData('template_id'); ?>" data-mage-init='{"themewidgets":{"codazon.customValidation": {}}}'>
    <div class="no-max-height">
        <div class="md-padding md-content">
            <p class="desc"><?php echo $block->getData('description'); ?></p>
            <?= $this->getBlockHtml('mageplaza-social-login-buttons') ?>
            <form name="loginForm" action="<?php echo $block->escapeUrl($block->getPostActionUrl()) ?>" method="post">
                <?php echo $block->getBlockHtml('formkey'); ?>
                <div class="md-block">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">
                        <input class="mdl-textfield__input" type="text" name="login[username]" data-validate='{"required":true, "email":true}' />
                        <label class="mdl-textfield__label"><?php echo __('Email') ?></label>
                    </div>
                </div>
                <div class="md-block">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">
                        <input class="mdl-textfield__input" name="login[password]" type="password"  data-validate='{"required":true}' />
                        <label class="mdl-textfield__label"><?php echo __('Password') ?></label>
                    </div>
                </div>
                <?php if ($captcha = $this->getLayout()->getBlock('mini-login-msp-recaptcha')) : ?>
                <?= $captcha->setCustomRecaptchaId("msp-recaptcha-".uniqid())->toHtml(); ?>
                <?php endif ?>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit"><?php echo __('Sign In') ?></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class='column'>
        <div class="forgot-password">
            <a class="action remind" href="<?php echo $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?php echo __('Forgot Your Password?'); ?></span></a>
        </div>
        <div class="no-account">
            <p><?php echo __('No account?'); ?></p>
            <a class="md-primary"  href="<?php echo $block->getUrl('customer/account/create'); ?>"><?php echo __('Create one here'); ?></a>
        </div>
    </div>
</div>