<?php
/**
 * Copyright © 2017 Codazon, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<div class="row product-review-wrap">
    <div class="col-sm-19">
        <div id="product-review-container" data-role="product-review"></div>
        <?php echo $block->getChildHtml(); ?>
    </div>
    <div class="col-sm-5">
        <?php echo $block->getBlockHtml('product.review.summary'); ?>
    </div>
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Review/js/process-reviews": {
                "productReviewUrl": "<?php /* @escapeNotVerified */ echo $block->getProductReviewUrl();?>",
                "reviewsTabSelector": "#tab-label-reviews"
            }
        }
    }
</script>
