<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="block newsletter">
    <div class="footer_newsletter">
    <div class="block newsletter footer-area">
        <h6>Subscribe Now</h6>
        <ul>
        <div class="description">Subscribe to our newsletter get 10% off your first purchase at here for update.</div>
            <div class="content">
            	<form class="form subscribe"
                    novalidate
                    action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
                    method="post"
                    data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                    id="newsletter-validate-detail">
                    <div class="field newsletter">
                        <label class="label" for="newsletter"><span><?php /* @escapeNotVerified */ echo __('Sign Up for Our Newsletter:') ?></span></label>
                        <div class="control">
                            <input name="email" type="email" id="newsletter"
                                placeholder="<?php /* @escapeNotVerified */ echo __('Enter your email address') ?>"
                                data-validate="{required:true, 'validate-email':true}"/>
                        </div>
                        </div>
                        <div class="actions">
                            <button class="action subscribe primary" title="<?php /* @escapeNotVerified */ echo __('Subscribe') ?>" type="submit">
                                <span><?php /* @escapeNotVerified */ echo __('Subscribe') ?></span>
                            </button>
                        </div>
                </form>
            </div>
            </ul>
            </div>
	</div>
</div>
