<div id="myModal" class="modal ajax-login-form">
 <!-- Modal content -->
  <div class="mobile-modal-content">
    <div class="closediv"><span class="close">&times;</span></div>
    <div class="ajax-login-conten">
    	<div id="ajaxlogin-login-window" class="login-window account-login ajaxloginphtml">
        	<form action="<?php echo $block->getUrl('mobilelogin/index/ajaxlogin') ?>" method="post" id="mobile-login-form" class="scaffold-form">
                <?php echo $block->getBlockHtml('formkey'); ?>
               	  <div class="updatepasssuccess success" style="display:none">
                        <span ><?php echo __("Password has been Updated Successfully.");?></span>
                    </div>
                    <div class="emailpasswrong error" style="display:none">
                        <span ></span>
                    </div>

                 <div class="page-title">
                    <span><?php echo __('Login') ?></span>
                </div>	
                  <div class="content">
                    <ul class="form-list">
                        <li>
                            <label for="email" class="required"><em>*</em><?php echo __('Email Address/Mobile Number') ?></label>
                            <div class="input-box">
                                <input type="text" name="login[username]" value="" id="mobile-login-email" class="input-text required-entry " title="<?php echo __('Email Address') ?>" />
                            </div>
                        </li>
                        <li>
                            <label for="pass" class="required"><em>*</em><?php echo __('Password') ?></label>
                            <div class="input-box">
                                <input type="password" name="login[password]" class="input-text required-entry validate-password" id="mobile-login-pass" title="<?php echo __('Password') ?>" />
                            </div>
                        </li>

                    </ul>
           	 	</div>
                <div class="buttons-set">
                    <div class="forogotlink">
                        <a class="forgotlinking" href="#"><?php echo __("Forgot Password?");?></a>
                    </div>     
                <div class="loginlink">          
                <button type="submit" class="button primary action" title="<?php echo __('Login') ?>" name="send" id="loginsubmit"><span><span><?php echo __('Login') ?></span></span></button>
				
                    <div class="progress-indicator">
                        <span class="please-wait" id="login-please-wait" style="display:none;">
                            <img src="<?php echo 
							$block->getViewFileUrl('Magenman_Mobilelogin::images/ajax-loader.gif');?>" class="v-middle" alt=""/>
                        </span>
                    </div>
                </div>
               
            </div>
                
            </form>
		</div>
    </div>
  </div>

</div>
