<?php
    /**
     * Copyright © 2017 Codazon, Inc. All rights reserved.
     * See COPYING.txt for license details.
     */
     
     /** @var \Magento\Customer\Block\Account\Dashboard $block */
?>
<?php
$customer = \Magento\Framework\App\ObjectManager::getInstance()->create('Magento\Customer\Model\Session')->getCustomer();
?>
<div class="account-info-summary">
    <div class="info-summary-top">
        <?php if (!$customer->getId()) : ?>
            <?php echo $this->getBlockHtml('mini-login-form-simple'); ?>
        <?php else: ?>
            <div class="icon-account"></div>
        <?php endif ?>
    </div>
    <div class="info-summary-bottom">
        <div class="md-content">
            <?php if ($customer->getId()) : ?>
            <p class="title"><a href="<?php echo $block->getUrl('customer/account/edit', ['_secure' => true]); ?>" /><?php echo __('%1','<span data-customerinfo="firstname"></span>'); ?></a></p>
            <p><a class="md-raised md-primary" href="<?php echo $block->getUrl('customer/account/logout'); ?>"><?php echo __('Sign Out') ?></a></p>
            <?php else : ?>
            <p class="secondary"><span class="create-account-question"><?php echo __('New customer?') ?></span> <a class="create-account-link" href="<?php echo $block->getUrl('customer/account/create'); ?>"><?php echo __('Register') ?></a></p>
            <?php endif ?>
        </div>
    </div>
</div>